<!-- <header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Trúc Khùng</h1>
      <h2> Material Design components for Angular</h2>
    </div>
    <div class="header-start">
     <a md-raised-button class="button" routerLink="/counter">Counter</a>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="homepage-row">
    <div class="homepage-promo-img">
      <img class=""
        src="../../../assets/1.jpg"
        alt="trúc">
    </div>
    <div class="homepage-promo-desc">
      <h2>Sprint from Zero to App</h2>
      <p>Hit the ground running with comprehensive, modern UI components that work across
        the web, mobile and desktop.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      
    </div>
    <div class="homepage-promo-desc">
      <h2>Fast and Consistent</h2>
      <p>Finely tuned performance, because every millisecond counts. Fully tested across
        modern browsers.</p>
    </div>
  </div>
  <div class="homepage-row">
    <div class="homepage-promo-img">
      
    </div>
    <div class="homepage-promo-desc">
      <h2>Versatile</h2>
      <p>Themable, for when you need to stay on brand or just have a favorite color.
        Accessible and internationalized so that all users are welcome.</p>
    </div>
  </div>
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      
    </div>
    <div class="homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>
  <div class="homepage-bottom-start">
    <a md-raised-button class="button" routerLink="guide/getting-started">Get started</a>
  </div>
</div>

<app-footer></app-footer> -->

<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Trúc Khùng</h1>
      <h2> Material Design components for Angular</h2>
    </div>
    <div class="header-start">
      <a md-raised-button class="button" routerLink="/counter">Counter</a>
    </div>
  </div>
</header>

<div class="homepage-promo">
  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <md-card class="example-card">
        <md-card-header>
        </md-card-header>
        <img md-card-image src="../../../assets/1.jpg">
        <md-card-content>
          <p>
            Trúc đẹp
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>

  <div class="homepage-row">
    <div class="homepage-promo-img">
      <md-card class="example-card">
        <md-card-header>
        </md-card-header>
        <img md-card-image src="../../../assets/2.jpg">
        <md-card-content>
          <p>
            Trúc đẹp
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>

  <div class="homepage-row homepage-reverse-row">
    <div class="homepage-promo-img">
      <md-card class="example-card">
        <md-card-header>
        </md-card-header>
        <img md-card-image src="../../../assets/3.jpg">
        <md-card-content>
          <p>
            Trúc đẹp
          </p>
        </md-card-content>
      </md-card>
    </div>
    <div class="homepage-promo-desc">
      <h2>Optimized for Angular</h2>
      <p>Built by the Angular team to integrate seamlessly with Angular.</p>
    </div>
  </div>



</div>

<app-footer></app-footer>